@font-face {
  font-family: lato-regular;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: lato-thin;
  src: url(../fonts/Lato-Thin.ttf);
}
body {
    font-size: .7rem;
}
img {
    pointer-events: none;
}

/****************************** CHEVRON ************************************/
.chevron {
	position: fixed;
	z-index: 2;
	opacity: .7;
	transition: opacity 1.5s;
	top: 45vh;
	width: 5rem;
}

.chevron:hover {
	opacity: 1;
	transition: opacity 1.5s;
	cursor: pointer;
}
#chevron-right {
	right: 0;
}
#chevron-left {
	left: 0;
}


/****************************** SLIDER ************************************/
body {
    margin: 0;
    padding: 0;
	font-family: lato-regular;
}
.blocHorizontal {
    display: flex;
	flex-direction: column;
}

.slide {
    width: 100vw;
    height: 70vh;
    display: flex;
}

.jerky {
	flex-direction: column;
	width: auto;
}

/****************************** HEADER ************************************/
header{
	z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
	background: white;
	text-align: center;
	width: 100vw;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

header .name{
	padding: 1rem;
	margin: 0;
}
nav {
	flex: initial;
}

nav ul {
	display: flex;
	flex-direction: column;
	margin: .5rem;
	padding: 0;
}

nav li, .a {
	vertical-align: middle;
	display: inline-block;
	margin: 0 .5rem;
	color: #000;
	background: #fff;
	background: rgba(255, 255, 255, .5);
}

a {
	text-decoration: none;
	color: #000;
}

nav li a, nav li.active a, .bouton a {
	padding: .5rem .8rem;
	display: block;
}

nav li.active a, a:not(.slide):not(.inner-slide):hover {
	color:  rgba(45,184,137, 1);
}


/****************************** GLOBAL RULES ************************************/

.space-1 {
	margin-top: 5vw;
}
.space-2 {
	margin-top: 10vw;
}
.space-3 {
	margin-top: 15vw;
}
.space-5 {
	margin-top: 25vw;
}
.space-10 {
	margin-top: 50vw;
}
.slide.img {
	height: auto;
}
.slide.img {
	width: auto;
}
.slide.img img{
    height: 95vh;
    margin-top: auto;
}

/************** SLIDE VARIANTS (size) ********************/

.slide.img.framed {
	height: auto;
}
.slide.img.framed img {
	height: 70vh;
	margin: auto;
	margin-bottom: 8rem;
}
.slide.img.small img {
	height: 40vh;
    margin: auto;
}

.slide.img.small.high img{
	margin-bottom: auto;
	margin-top: 8rem;

}
.slide.img.low  {
	align-self: flex-end;
	height: auto;
}
.slide.img.small.low img, .slide.img.low .video{
	margin-top: auto;
	margin-bottom: 8rem;
}

/************** SLIDE VARIANTS (text) ********************/
.slide.text {
	padding: 0 0 8rem 0;
	margin-top: auto;
	height: auto;
	flex-direction: column;
	min-width: auto;
}
.slide.text.title{
	font-size: 1.2rem;
}
.slide.text.low {
	padding: 0 0 3rem 0;
}
.slide.text.high {
	padding: 0;
	height: 40vh;
	margin-top: 8rem;
	position: relative;
}
.slide.text.high .high-container{
	position: absolute;
	bottom: 0;
}
.slide.text p{
	margin:0;
}
.high-container>p:last-child {
	margin-bottom: 0;
}

/************** SLIDE VARIANTS (misc) ********************/
.video {
	margin:auto;
	transform-origin: top right;
	transform: rotate(-90deg) translateX(-100vh);
}
.video.big {
	margin-bottom: 0;
}
.video video {
	height: 40vh;
	transform-origin: top right;
	transform: rotate(90deg) translateY(-100vh);
}
.video.big video {
	height: 95vh;
}
.slide p.caps {
	margin: 1rem 0;
	letter-spacing: 10px
}
.title-caps {
	letter-spacing: 5px
}

/************** SLIDE VARIANTS (link) ********************/
.menu-slide {
	position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.05rem;
	padding: 1rem;
}

.menu-slide::before {
	content: "";
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;  
	opacity: .5; 
	transition: opacity 0.5s;
	z-index: -1;
}

.menu-slide div{
	text-align: center;
	padding: 0 0 8rem 0;
	margin-top: auto;
	height: auto;
	flex-direction: column;
	min-width: 30vh;
}

.menu-slide:hover::before {
	opacity: 0.8;
	transition: opacity 0.5s;
}

/********** SLIDE NEXT *****************/
.menu-slide.next div{
	text-align: left;
	min-width: min-content;
}
.menu-slide.next {
	background-color: rgba(45,184,137, 1);
	transition: background-color .5s;
	width: min-content;
}
.menu-slide.next:hover {
	background-color: rgba(45,184,137, .5);
	transition: background-color .5s;
}