nav ul {
    flex-direction: row;
}

body {
    font-size: 1rem;
}
.slide.text.title{
	font-size: 1.5rem;
}
.menu-slide {
    font-size: 1.25rem;
}

.slide.text {
    min-width: 25vw;
}

.slide.contact-container {
    min-width: max-content;
    text-align: left;
}