#home {
	background: url(../img/couv2.jpg);
	background-size: cover;
	min-width: 70vw;
}

#parcourez {
	padding-left: 25vw;
	margin-left: 0;
}


/****************************** MENU ************************************/

#broder::before {
	background: url(../img/emilie\ rannou\ accueil\ 1\ broder\ tel\ un\ bijou.jpg);
	background-size: cover;
	background-position-x: center;
}
#construire::before {
	background: url(../img/emilie\ rannou\ accueil\ 2\ construire\ du\ fil\ a\ la\ matiere.jpg);
	background-size: cover;
	background-position-x: center;
}
#animer::before {
	background: url(../img/emilie\ rannou\ accueil\ 3\ animer\ la\ surface.jpg);
	background-size: cover;
	background-position-x: center;
}
#composer::before {
	background: url(../img/emilie\ rannou\ accueil\ 4\ composer\ les\ motifs\ et\ les\ couleurs.jpg);
	background-size: cover;
	background-position-x: center;
}