#home {
	background: url(../img/couv2.jpg);
	background-size: cover;
	min-width: 70vw;
}

#parcourez {
	padding-left: 25vw;
	margin-left: 0;
}

#composer::after {
	content: "";
	position: absolute;
	top: 0; 
	right: -5vw;
	width: 5vw; 
	height: 100%;  
}

/****************************** MENU ************************************/

#broder::before {
	background: url(../img/emilie\ rannou\ accueil\ 1\ broder\ tel\ un\ bijou.jpg);
	background-size: cover;
	background-position-x: center;
}
#construire::before {
	background: url(../img/emilie\ rannou\ accueil\ 2\ construire\ du\ fil\ a\ la\ matiere.jpg);
	background-size: cover;
	background-position-x: center;
}
#animer::before {
	background: url(../img/emilie\ rannou\ accueil\ 3\ animer\ la\ surface.jpg);
	background-size: cover;
	background-position-x: center;
}
#composer::before {
	background: url(../img/emilie\ rannou\ accueil\ 4\ composer\ les\ motifs\ et\ les\ couleurs.jpg);
	background-size: cover;
	background-position-x: center;
}

/****************************** WELCOME ************************************/

.welcome {
	position: relative;
}

#welcome-container {
	position: absolute;
	top: 38vh;
	width: 100vw;
	text-align: center;
	opacity: 1;
}
.welcome-content {
	width: 50%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.8);
}
.welcome-content h1 {
	font-size: 2rem;
}

#welcome-container.hide {
	opacity: 0;
	transition: opacity 3s;
}