  .mobile .blocHorizontal {
    transform: none;
  }
  .mobile .container {
    z-index: 1;
    height: auto;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    transform: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .mobile .slide {
    height: 100vh;
    display: flex;
    margin-top: 0;
  }

  .mobile .slide.text {
      min-width: 70vw;
  }

  .mobile .jerky {
    flex-direction: row;
    width: auto;
  }